*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.bg{
	background: url("../images/bg.png") no-repeat;
	background-size: cover;
}
/*Header section starts here*/
.header-section{
	width: 100%;
}
.header-section .menu {
    width: 100%;
    padding: 60px 0px;
}
.header-section .menu .bg-light{
	background: transparent !important;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin: 0px 12px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 0px;
}
.header-section .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2870db !important;
    outline: none;
}
.header-section .menu .btn-info{
	padding: 5px 30px;
	background: #fff;
	color: #1955A3;
	border: 0px solid #fff;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-left: 10px;
	transition: 1s ease-in-out;
}
.header-section .menu .btn-info:hover, .header-section .menu .btn-info:focus{
	background: #1955A3;
	color: #fff;
	border: 0px solid #231F4F;
	box-shadow: none;
}
/*Header section banner starts here*/	
.header-section .banner{
	width: 100%;
	padding: 70px 0px 285px;
	position: relative;
}

.header-section .banner .banner-inner{
	position: absolute;
	padding: 0px 15px;
}
.header-section .banner .banner-inner h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 800;
    color: #1c2056;
    margin-bottom: 25px;
}
.header-section .banner .banner-inner p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #756d91;
}
.header-section .banner .banner-inner .btn{
	box-shadow: 0px 12px 10px rgba(40,112,219,0.3);
}
.header-section .banner .banner-inner .btn-info{
	padding: 14px 45px;
    margin-top: 10px;
    background: #2870db;
    color: #fff;
    border: 1px solid #2870db;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    transition: 1s ease-in-out;
}
.header-section .banner .banner-inner .btn-info:hover, .header-section .banner .banner-inner .btn-info:focus{
	background: #fff;
	color: #2870db;
	border: 1px solid #2870db;
	box-shadow: none;
}
/*Envision section starts here*/
.envision{
	width: 100%;
    padding: 325px 0px 90px;
    text-align: center;
    position: relative;
}
.envision h1{
	font-size: 28px;
	font-weight: 800;
	/*line-height: 38px;*/
	color: #263238;
	padding-bottom: 210px;
}
.envision .card{
	width: 100%;
	border-radius: 12px;
	margin-bottom: 45px;
	border: 0px;
	color: #ffffff;
	box-shadow: 0px 5px 10px 10px rgb(236, 242, 248, .8);
}
.envision .card-body {
    padding: 30px 20px 40px 30px;
    text-align: left;
    border: 0px;
}
.envision .card-body h5{
	font-size: 16px;
    line-height: 25px;
    font-weight: 800;
    color: #263238;
    margin-bottom: 30px;
}
.envision .card-body p{
	font-size: 12px;
    font-weight: 400;
    color: #5f7782;
}
.envision .btn{
	box-shadow: 0px 12px 10px rgba(40,112,219,0.3);
	/*position: absolute;*/
}
.envision .btn-info{
	padding: 14px 35px;
    margin-top: 30%;
    margin-left: 10%;
    background: #2870db;
    color: #fff;
    border: 1px solid #2870db;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    transition: 1s ease-in-out;
}
.envision .btn-info:hover, .envision .btn-info:focus{
	background: #fff;
	color: #2870db;
	border: 1px solid #2870db;
	box-shadow: none;
}
/*Support section starts here*/
.support{
	width: 100%;
	padding-bottom: 100px;
	text-align: center;
}
.support h2{
	font-size: 28px;
	font-weight: 800;
	/*line-height: 38px;*/
	color: #263238;
	padding-bottom: 60px;
}
.support p{
	font-size: 15px;
	line-height: 18px;
    font-weight: 400;
    color: #35434b;
}
.support span{
	font-size: 25px;
    font-weight: 700;
    color: #2a63ab;
}
/*Protecting section starts here*/
.protecting{
	width: 100%;
	padding: 20px 0px 115px;
	text-align: center;
}
.protecting h2{
	font-size: 29px;
	font-weight: 800;
	/*line-height: 38px;*/
	color: #263238;
	padding-bottom: 70px;
}
.protecting .card{
	border-radius: 1.25rem;
	text-align: left;
	border: none;
    box-shadow: 0px 0px 20px rgba(40,112,219, .1);
    margin-bottom: 20px;
}
.protecting .card .card-img, .card-img-top {
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px);
}
.protecting .card .card-body{ 
	width: 100%;
	padding: 25px;
	padding-right: 15px;
}
.protecting .card .card-body h5{
	font-size: 19px;
    font-weight: 800;
    color: #263238;
    margin-bottom: 22px;
}
.protecting .card .card-body p{
	font-size: 15px;
    font-weight: 500;
    color: #5f7782;
}
.protecting .card .btn-primary {
    font-size: 15px;
    font-weight: 600;
    color: #5e94e4;
    background-color: #fff; 
    border: none; 
    padding: 0px;
}
.protecting .card .btn-primary:hover, .protecting .card .btn-primary:focus{
	color: #2870db;
	background-color: #fff;
	border: none;
	box-shadow: none !important;
}
/*Receive section starts here*/
.receive{
	width: 68%;
	padding: 40px 0px;
	margin-left: 15%;
	text-align: center;
	background: url("../images/rbg.png") center top no-repeat;
	background-size: cover;
	position: relative;
	/*box-shadow: 0px 0px 10px 0px #164fa1;*/
	border-radius: 15px; 
}
.receive h2{
	padding: 0px 80px;
	font-size: 25px;
	line-height: 40px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 30px;
}
.receive .form {
    width: 40%;
    margin-left: 30%;
}
.receive .form .form-control{
	width: 100%;
	padding: 15px;
	font-size: 14px;
	color: #2870db;
	border-radius: 12px;
	border: none;
	margin-bottom: 20px;
}
.receive .form .btn-info{
	padding: 13px 35px;
    margin: 25px 0px;
    background: #00aeff;
    color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    transition: 1s ease-in-out;
}
.receive .form .btn-info:hover, .receive .form .btn-info:focus{
	background: #fff;
	color: #00aeff;
	box-shadow: none;
	border: none;
}
/*Footer-widget starts here*/
.footer-widget{
	width: 100%;
	padding: 80px 210px 40px 170px;
	color: #ffffff;
	display: inline-block;
	/*position: relative;*/
}
.footer-widget .inner-widget{
    /*position: absolute;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;/*
    margin-right: -170px;
    margin-left: 75px;*/
}
.footer-widget h5{
	font-size: 13px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
.footer-widget p, a{
	color: #e3ebf5;
	font-size: 12px;
	font-weight: 200;
}
/*.footer-widget .about, .footer-widget .programs, .footer-widget .trails, .footer-widget .resources{
	padding-right: 0px;
	padding-left: 0px;
	margin: 0px 20px 0px;
}*/
.footer-widget .about p, .footer-widget .programs p, .footer-widget .trails p, .footer-widget .resources p{
	line-height: 32px;
}
.footer-widget a:hover{
	color: #00aeff;
	text-decoration: none;
}
/*footer section*/
/*.footer-section{
	width: 100%;
}*/
.footer-section .social-icons{
	width: 100%;
	text-align: left;
	padding: 40px 0px 0px;
}
.footer-section .social-icons ul{
	display: block;
}
.footer-section .social-icons ul li{
	display: inline-block;
	list-style: none;
}
.footer-section .social-icons ul li a{
	text-align: center;
	color: #2376cf;
	font-size: 18px;
}
.footer-section .social-icons ul li a .fa{
	width: 40px;
	height: 40px;
	margin-right: 8px;
	line-height: 40px;	
	background: #fff;
	border-radius: 50%;
	transition: .5s ease-in-out;
}
.footer-section .social-icons ul li a .fa-facebook:hover{
	color: #fff;
	background: #3b5998; 
}
.footer-section .social-icons ul li a .fa-twitter:hover{
	color: #fff;
	background: #55acee; 
}
.footer-section .social-icons ul li a .fa-instagram:hover{
	color: #fff;
	background: #DC5238;
}